.inner{

  border: solid 20px;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  text-align: center;
  vertical-align: middle;
  background-color: #eee;
}
.labels{
  display: inline;
}
input[type=text] {
  width: 30px;
  text-align: center;
  background-color: red;
}
.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.red{
  background-color: red;
  height:290px;
  width:290px;
  border-top-left-radius: 100%;
  border: solid;
  border-width: 20px;
  display: inline-block;
  margin-right:0px;
}
.blue{
  background-color: blue;
  height:290px;
  width:290px;
  border-top-right-radius: 100%;
  border: solid;
  border-width: 20px;
  display: inline-block;
}
.yellow{
  background-color: yellow;
  height:290px;
  width:290px;
  border-bottom-left-radius: 100%;
  border: solid;
  border-width: 20px;
  display: inline-block;
}
.green{
  background-color: green;
  height:290px;
  width:290px;
  border-bottom-right-radius: 100%;
  border: solid;
  border-width: 20px;
  display: inline-block;
}
.holder{
  margin-top: 28px;
}
