@import url("toggle.css");
h1{
  font: #000;
}

.inner{
  padding-top: 12px;
  position:fixed;
  top: 120px; left:115px;
  border: solid 20px;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  text-align: center;
  vertical-align: middle;
  background-color: #ddd;
}
.labels{
  display: inline;
}
input[type=text] {
  width: 120px;
  text-align: center;
  background-color: #660000;
  font-size:30px;
  font: red;
}
.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.red{
  position:absolute;
  top: 10px; left:0;
  background-color: #660000;
  height:250px;
  width:250px;
  border-top-left-radius: 95%;
  border: solid;
  border-width: 20px;
  display: inline-block;
  margin-right:0px;

}
.blue{
  position:absolute;
  top: 10px; left:230px;
  background-color: #000066;
  height:250px;
  width:250px;
  border-top-right-radius: 95%;
  border: solid;
  border-width: 20px;
  display: inline-block;
}
.yellow{
  position:absolute;
  top: 240px; left:0px;
  background-color: #666600;
  height:250px;
  width:250px;
  border-bottom-left-radius: 95%;
  border: solid;
  border-width: 20px;
  display: inline-block;
}
.green{
  position:absolute;
  top: 240px; left:230px;
  background-color: #006600;
  height:250px;
  width:250px;
  border-bottom-right-radius: 95%;
  border: solid;
  border-width: 20px;
  display: inline-block;
}
.holder{
  width:512px;
  height:512px;
  postion: absolute;
  left:250px;
}
